/* ##### CSS classes for basket ##### */

.basket-sidebar {
    position: absolute;

    height: 100%;

    z-index: 10;



    /* Neu */

    grid-column: 2;
    width: 300px;
    
}


.basket-content {
    background: rgba(54, 53, 52, 1);
    text-align: center;
    color: white;

    border-radius: 30px;
    
    position: sticky;
    top: 100px;

    overflow-y: auto;

    padding: 20px;
    height: 800px;
    
    z-index: 100;
}



@media (max-width: 1460px) {
    .basket-content {
        margin-right: 20px;
    }
}



