/* ##### Standard CSS classes ##### */

* {
    margin: 0;
    padding: 0;
}


html {
    box-sizing: border-box;
    
    scroll-behavior: smooth;
}


body {
    display: flex;
    flex-direction: column;

    font-family: 'Palanquin', sans-serif;
    font-size: 16px;

    min-height: 100vh;
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: clip;
}


header {
    background-color: rgba(231, 108, 31, 1);

    width: 100%;
}


main {
    display: contents;
}


footer {
    background-color: rgba(231, 108, 31, 1);

    width: 100%;
}


h1 {   
    font-size: 48px;
}


h2 {
    /* color: white; */
    color: black;
    font-size: 40px;

    padding-left: 20px;
}


h3 {
    font-size: 20px;

    margin: 0;
}





/* ##### Tablet version (768px - 1280px) ##### */

@media (max-width: 1120px) {

    h3 {
        font-size: 16px;
    }
}





/* ##### Mobile version (375px - 767px) ##### */

@media /*(min-width: 375px) and*/ (max-width: 767px) {

    h1 {
        font-size: 38px;
    }
}





/* ##### Mobile very small version (320px - 374px) ##### */

@media /*(min-width: 320px) and*/ (max-width: 374px) {

    h1 {
        font-size: 32px;
    }


    h3 {
        font-size: 16px;
    }
}


